<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Регистрация нового пользователя</title>
    <script type="text/javascript" th:src="@{templates/js/RegistrationRender.min.js}"></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <form id="registration_widget_data" action="#" th:action="@{/registration}" th:object="${registrationWidget}"
          method="post">
        <div id="user_role" layout:fragment="content" th:remove="tag">
            <div align="center">
                <h1>Регистрация нового пользователя</h1>
                <p2>Выберете роль нового юзера</p2>
                <div id="choose_role" align="center">
                    <select name="role">
                        <option th:each="roleOpt : ${T(com.competitions.entities.UserRoleEnum).values()}"
                                th:value="${roleOpt}" th:text="${roleOpt.getDisplayValue()}"></option>
                    </select>
                    <button id="choice_role">Выбрать</button>
                </div>
            </div>
        </div>
        </br>

        <div id="user_registration_fields">
            <form name="user_fields" method="post" align="center">











            </form>
        </div>

        <p><a href="/" th:href="@{/}" align="center">Back to home page</a></p>
    </form>
</div>
</body>
</html>