<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Регистрация нового пользователя</title>
    </head>
    <body>
        <div class="container">
            <div th:replace="fragments/fragments :: data_forms"></div>
        </div>

        <p><a href="/" th:href="@{/}">Back to home page</a></p>
    </body>

    <script>
        function renderForm() {
            hideElements()
            var select = document.getElementById('role').value;
            if (select !== 'GUEST') {
                if (select === 'MEMBER') {
                    document.getElementById('member_special_data').style.display = 'block'
                } else if (select === 'CAPTAIN') {
                    document.getElementById('captain_special_data').style.display = 'block'
                } else if (select === 'LEAD') {
                    document.getElementById('lead_special_data').style.display = 'block'
                }
                document.getElementById('common_data').style.display = 'block'
            }
        }

        function hideElements() {
            document.getElementById('member_special_data').style.display = 'none'
            document.getElementById('captain_special_data').style.display = 'none'
            document.getElementById('lead_special_data').style.display = 'none'
            document.getElementById('common_data').style.display = 'none'
        }
    </script>
</html>